#overskrift{
    font-family:serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top:10px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 450;
}

.checkboxes input{
    margin: 0px 10px 0px 0px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

#check{
    text-align: left;
    display: grid;
    grid-template-columns:20% 15% 15% 20%;	
    justify-content:space-evenly;
    margin-left:100px;
}

.checkboxes label{
    font-family: sans-serif;
    margin:0px 0px 0px 0px
}

#TV2Knap{
    position:absolute;
    left:10px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#TV3Knap{
    position:absolute;
    left:130px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#DiscoveryKnap{
    position:absolute;
    bottom:auto;
    left:250px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#ryd{
    position:absolute;
    right:10px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#res{
    text-align: center;
}

#btn,#btn1{
    width:175px;
    height: 45px;
    background-color: rgb(212,238,250);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#back{
    position: relative;
    bottom: 0px;
    text-align: center;
}
button{
    border-radius: 5px;
    font-family: sans-serif;
}
#vælg{
    text-align:left;
    bottom:auto;
    font-size: 20px;
}
#KellerS{
    text-align: center;
    text-decoration: underline;
    font-size:25px;
}

#DRkanaler{
    display:inline;
    text-align:left;
    font-size:18px;
    position: absolute;
}

.align-left{
    text-align: left;
}
#streamingpris{
    display: grid;
    grid-template-columns: 50% 50%;	
    justify-content:space-evenly;
}

hr{
    margin:3px;
}

.cheap{
    color:green;
    text-decoration: underline;
}

#checkbox{
    box-shadow:  1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
}